/*resets*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/******************************** Index.php ********************************/
body {
  position: fixed;
  margin: 0;
  height: 100%;
  background-color: #1a1a2a;
  -webkit-background-image: radial-gradient(circle, transparent 0%, #0a0b13 100%), url(http://d2xgoeeq7a4bfy.cloudfront.net/v1/noise-160.png);
  background-image: radial-gradient(circle, transparent 0%, #0a0b13 75%), url(http://d2xgoeeq7a4bfy.cloudfront.net/v1/noise-160.png);
  font-family: 'Handlee', cursive;
  width: 100%;
}
header {
  display: block;
  width: 100%;
  text-align: center;
}
.title {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  color: white;
  font-size: 3rem;
}
.title span:first-child {
  color: #c62121;
}
.title span:last-child {
  color: #2161c6;
}
main {
  display: block;
  width: 100%;
  height: 100%;
}
.grid-box {
  margin: 0 auto;
  width: 60rem;
  height: 35rem;
  background: #e3e3e3;
  display: block;
}
p#dobbel {
  color: white;
  text-align: center;
  font-size: 2em;
}
.dobbelsteen {
  display: flex;
}
button#dobbelen {
  margin: 50px auto;
  padding: 15px;
  background: wheat;
  border-radius: 5px;
}
footer {
  display: block;
  background-color: black;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  line-height: 50px;
  text-align: center;
}
footer .footer-box {
  color: white;
}
