/******************************** Index.php ********************************/
body{
  position: fixed;
  background-color: #1a1a2a;
  -webkit-background-image: radial-gradient(circle, transparent 0%, #0a0b13 100%), url(http://d2xgoeeq7a4bfy.cloudfront.net/v1/noise-160.png);
  background-image: radial-gradient(circle, transparent 0%, #0a0b13 75%), url(http://d2xgoeeq7a4bfy.cloudfront.net/v1/noise-160.png);
}

.title {
  text-align: center;
  font-family: 'Handlee', cursive;
}
